/** 调色板 **/
@color1:  #53cabd;
@color2:  #ffffff;
@color3:  #343434;
@color4:  #f8f8f8;
@color5:  rgba(83,202,189,1);
@color6:  rgba(83,202,189,0);


@windowHeight:calc(100%);
@contentHeight : calc(~"100% - 50px");
@communicationHeight: calc(~"100% - 142px");

@windowWidth:calc(100%);
// @contentWith:calc(100%-50px);
// @userAvatorWidth:
